.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: -11px 10px 60px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 10px 60px -27px rgba(0,0,0,0.75);
}
.chartTitle{
    margin-bottom: 20px;
}